/* footer */
  .footer{
    align-items: flex-end;
    margin-top: 20px;
    padding: 24px ;
    background-image: linear-gradient(white, #f6dfd6, white);
    text-align: center;
    justify-content: space-between;
  }
   .footerIcon{
     width: 4rem;
     padding: 10px;
   }
  
   .footLogo {
    width: 6rem;
    padding: 10px;
  }