/*header -nav */

.header{
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(#eec5b9, white);
    text-align: center;
    justify-content: space-between;
  }
  
  .headerNav, .headerCart{
    padding-top: 20px;
  }
  
  .cartIcon{
    width: 30px;
  }
  .brandName{
    color: #d69c93;
    font-size: 1rem;
    line-height: 10px;
    padding: 10px 0px;
    font-family: 'DreamOnly';
  }
  .brandLogo {
    max-width: 100px;
  }
  
  .navbar-light .navbar-nav .nav-link{
    color: #b1b1b2;
    font-weight: 500;
  } 

  .navbar-nav {
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    padding-top: 5px;
  }

  .title{
    color: #d69c93;
    font-size: 1.5rem;
    font-weight: 400;
  }
  