.App {
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-size: 15px;
}

@font-face {
  font-family: 'dreamOnly';
  src: url(./DreamOnly.ttf); }

.header{
  align-items: flex-end;
  padding: 20px;
  background-image: linear-gradient(#eec5b9, white);
  text-align: center;
  justify-content: space-between;
}
.headerNav, .headerCart{
  padding-top: 20px;
}

.nav{
  text-align: center;
  justify-content: space-between;
  padding-top: 5px;
}
.cartIcon{
  width: 30px;
}
.brandName{
  color: #d69c93;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0px;
  font-family: 'DreamOnly';
}
.brandLogo {
  max-width: 100px;
}

.navItem{
  color: #575757 !important;
  font-weight: 400;
} 

.active{
  color: #d69c93 !important;
  font-weight: 600;
}
.title{
  color: #d69c93;
  font-size: 25px;
  font-weight: 400;
}

.countDiv{
  margin-top: 20px;
}

.countAmount{
  padding: 5px 10px;
}

.countBtn{
  padding: 5px 15px;
  margin: 5px;
  background-color: #eec5b9;
  border: none;
  border-radius: 5px;
}

.itemContainer{
  margin-top: 30px;
}

.cardData{
  margin: 5px;
  padding: 20px 20px 2px 20px;
  background-color: #F6DFD6;
  border-radius: 20px;
}

.itemImg{
  max-width: 100%;
  border-radius: 20px;
}

.itemTitle{
  color: #575757;
  font-size: 20px;
  font-weight: 700;
  margin: 20px;
}

.itemPrice{
  color: #d69c93;
  font-size: 18px;
  font-weight: 600;
  margin: 20px;
}

.descriptionBtn{
  color: #575757;
  background-color: #eec5b9;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
}

.itemStock {
  margin: 10px;
  color: #575757;
}

.detailContainer {
  margin-top: 25px;
  padding: 25px;
}